.btn1 {
  background-color: rgb(119, 119, 115);
}

.fonte{
font-family: 'Bebas Neue', cursive;
}

.div1{
  background-color: #F2CA52;
  text-align: center;
  color: #F8F8FF;
  font-size: 10 px;
}

.img1{
  width: 470px ;
}

.text1{
  font-size: 20px;
}